/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
   footer{
     background: black;
     padding: 20px;
     color: white;
     font-size: 11px;
   }


/* --------------------------------------
   Typography
   -------------------------------------- */
   .well .page-header {
   	margin-top: 0;
   }
   .container{
     height: auto;
   }
   ul div{
     height: auto;;
   }
   body {
     padding-top: 100px;
     margin: auto;
   }

ul.unstyled{
  padding: 0;
  list-style: none;
}

#unordered{
  list-style : none;
}
#back_img{
  background: url("../../images/logo1_large.jpg");
  margin-top: 100px;
  height: 600px;
  width: 100%;
  align-items: center;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput{
     width: 200px;
   }
   .navbar-brand{
     margin: 13px,15px;
   }


/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel{
  margin-top: 60px;
  align-items: center;
}
#myCarousel .item{
  height: 300px;
}
#slide1{
  background: url("../../images/slider1_large.jpg") top center no-repeat;
}
#slide2{
  background: url("../../images/slider2_medium.jpg") top center no-repeat;
}
#slide3{
  background: url("../../images/col1_medium.jpg") top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */
.well{
  margin: 20px,0px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  #back_img{
    background: url("../../images/logo1_small.jpg");
  }
  #slide1{
    background: url("../../images/slider1_small.jpg") top center no-repeat;
  }
  #slide2{
    background: url("../../images/slider2_small.jpg") top center no-repeat;
  }
  #slide3{
    background: url("../../images/col1_small.jpg") top center no-repeat;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #myCarousel .item { height: 210px; }
  #back_img{
    background: url("../../images/logo1_medium.jpg");
  }
  #slide1{
    background: url("../../images/slider1_medium.jpg") top center no-repeat;
  }
  #slide2{
    background: url("../../images/slider2_medium.jpg") top center no-repeat;
  }
  #slide3{
    background: url("../../images/col1_medium.jpg") top center no-repeat;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
#myCarousel .item { height: 400px; }
#back_img{
  background: url("../../images/logo1_large.jpg");
}
#slide1{
  background: url("../../images/slider1_large.jpg") top center no-repeat;
}
#slide2{
  background: url("../../images/slider2_large.jpg") top center no-repeat;
}
#slide3{
  background: url("../../images/col1_large.jpg") top center no-repeat;
}
.carousel-caption p {font-size: 22px;}

}
